
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
}

a {
    text-decoration: none;
    text-decoration-color: #1a1e21;
    color: #0c4128;
}

/**/
.form {
    background-color: #black;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    justify-content: center;
    position:absolute;
    left:40%;
    right:50%;
    /*display: flex;*/
}

#picture {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    padding-right: 40px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
/*.form-container{*/
/*  position:absolute;*/
/*    left:50%;*/
/*    right:50%;*/
/*}*/

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #f5f8fa;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

.submit {
    background-color: black;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
// outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}
/**/

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
    text-decoration: none;
}
/*
dropdown button
*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.dropbtn {
    background-color: #1da1f2;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.dropbtn::before {
    content: "\00B7 \00B7 \00B7";
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    padding: 8px 0;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*meesssage*/
.message-button {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1DA1F2;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
    float: right;
}

.message-button:hover {
    background-color: #0E80C7;
}
/**/

.follow {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.button {
    background-color: #1da1f2;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #0E80C7;
}
/**/

.main-wrapper {
    background-image: url("./images/twitter.png");
    background-position: 0 50%;
    background-size: 100% auto;
    border-radius: 4px 4px 0px 0px;
    height:95px;
    width:100%;
}
#profile-link{
    background-color: #fff;
    display: inline-block;
    float: left;
    margin:-30px 5px 0px 8px;
    max-width:100%;
    padding:1px;
    vertical-align: bottom;
    border-radius: 50%;
}

.profile-picture img{
    border-radius: 50%;
}

#profile-img{
    border:2px solid #fff;
    border-radius: 7px;
    color:#fff;
    height:72px;
    width:72px;
}
#profile-marg{
    margin:5px 0px 0px;
}
#profile-name{
    font-size:18px;
    font-weight: 700;
    line-height: 21px;
}
#profile-name a{
    color:inherit;
}
#profile-state{
    padding:15px;
}
#profile-Arrange{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
    min-width:100%;
    padding:0px;
}
ul#profile-Arrange{
    list-style: none;
    margin:0;
    padding:0;
}
#profile-details a:hover{
    text-decoration: none;
}
#profile-number{
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
#profile-label{
    color:#8899a6;
    font-size:10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    float: left;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}


.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .dropdown_content{
    position: relative;
    display: inline-block;
}

.sidebarOption .sidebarOption-dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown_content:hover .sidebarOption-dropdown{
    display: block;
}

.sidebarOption .material-icons,
.fa-twitter {
    padding: 20px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--twitter-color);
}

.sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;

    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
}

/* feed */
.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed__header h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
    border-radius: 50%;
    height: 40px;
}

.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox form {
    display: flex;
    flex-direction: column;
}

.tweetbox__input {
    display: flex;
    padding: 20px;
}

.tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;

    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

/* post */
.post__avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}

/* widgets */
.widgets {
    flex: 0.3;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input input {
    border: none;
    background-color: var(--twitter-background);
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
}


.post:hover{
    background-color: var(--twitter-background);
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

/* widgets */
.widgets {
    flex: 0.3;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input input {
    border: none;
    background-color: var(--twitter-background);
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
}

input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.custom-file-upload {
    /*background-color: var(--twitter-color);*/
    border: none;
    /*color: white;*/
    font-weight: 900;
    /*border-radius: 30px;*/
    width: 20px;
    height: 20px;
    bottom: 0;
    margin-top: 0px;
    margin-left: auto;
    display: inline-block;
    position: relative;
}

.click{
    position: absolute;
    background-color: var(--twitter-color);
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dotted #bebebe;
    border-radius: 10px;
}

.profile-navbar{
    text-decoration-color: lightgray;
}

.profile-navbar-part{
    display: inline-block;
    padding: 30px;
    text-decoration-color: lightgray;
    text-decoration: none!important;
    width:max-content;
    padding-right: 45px;
    padding-left: 45px;
}

.profile-navbar-part:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

a{
    text-decoration: none!important;
}
